.App {
  text-align: center;
  height: 100vh;
  width: 100vw;

  // .isToolboxVisible {
  //   .blocklyFlyout {
  //     display: block !important;

  //     .blocklyBlockCanvas {
  //       transform: none !important;
  //     }
  //   }
  // }

  // .blocklyFlyout {
  //   display: none !important;
  // }
}
